html {
    scroll-behavior: smooth;
    overflow: visible;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
}

.home {
    padding-top: 200px !important;
    background-color: #FE50A9;
    height: 100vh;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
}

.about {
    padding-top: 200px;
    background-color: #FE50A9;
    height: 100vh;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 50px;
    position: relative;
}

.about-title {
    /* font-family: "MagicRetro"; */
    /* font-family: 'Candal', sans-serif; */
    font-family: 'Rammetto One', cursive;
    font-size: 68px;
}

.inner-about {
    display: flex;
    align-items: center;
    height: fit-content;
    gap: 0px 30px;
}

.inner-about img {
    height: 470px;
    width: 313px;
}

.portfolio {
    padding-top: 100px;
    background-color: #FFE11C;
    height: 100vh;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 50px;
}

.portfolio > p {
    margin: 0;
    font-size: 50px;
    /* font-family: "MagicRetro"; */
    /* font-family: 'Candal', sans-serif; */
    font-family: 'Rammetto One', cursive;
}

.contact {
    padding-top: 200px;
    background-color: #1B5ACC;
    height: 100vh;
    padding-left: 100px;
    padding-right: 100px;
    /* padding-bottom: 50px; */
    /* font-family: "MagicRetro"; */
    /* font-family: 'Candal', sans-serif; */
    font-family: 'Rammetto One', cursive;
    position: relative;
    overflow: hidden;
}

.card-project {
    background-color: white;
    height: 554px;
    width: 950px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 21px;
    padding-bottom: 50px;  
    margin-left: 35px;
    border-radius: 24px;
}

.project-info {
    display: flex;
    align-items: center;
    gap: 0px 10px;
    padding-bottom: 40px;
}

.project-info > img {
    height: 70px;
    width: 70px;
}

.project-description {
    padding-right: 80px;
}

.project-description p {
    margin-top: 0;
}

.home img {
    max-width: 100%;
    align-items: center;
}

.about div {
    width: 100%;
}

.right-side {
    text-align: right;
}

.contact .contact-details {
    margin-top: 50px;
}

.contact > div {
    font-size: 50px;
    color: #FFE11C;
}

.card-project > .project {
    display: flex;
}

.project-header {
    display: flex;
    margin-bottom: 50px;
}

.project-header > p {
    margin-right: 10px;
}

.project > img {
    margin-right: 50px;
}

.contact-sub-text {
    font-family: "Trebuchet MS" !important;
    font-size: 20px !important;
}

.pink-ellipse {
    height: 72px;
    width: 29px;
    margin-left: 10px;
}

.contact-white-star {
    position: absolute;
    top: 70%;
    left: 24%;
}

.contact-pink-ellipse-large {
    position: absolute;
    top: 6%;
    left: 91%;
    height: 241px;
    width: 274px;
}

@font-face {
    font-family: 'MagicRetro';
    src: url(../font/Magic-Retro.ttf) format('truetype');
}