html {
    scroll-behavior: smooth;
    /* overflow-y: hidden; */
    overflow: visible;
}

body {
    margin: 0px;
    padding: 0px;
}

.home {
    /* margin-top: -100px; */
    padding-top: 300px !important;
    background-color: #FE50A9;
    height: 100vh;
    padding: 10px 50px 50px 10px;
}

.about {
    padding-top: 100px;
    background-color: #FE50A9;
    height: 100vh;
    padding: 10px 50px 50px 10px;
}

.portfolio {
    padding-top: 100px;
    background-color: #FFE11C;
    height: 100vh;
    padding: 10px 50px 50px 10px;
}

.contact {
    padding-top: 100px;
    background-color: #1B5ACC;
    height: 100vh;
    padding: 10px 50px 50px 10px;
}

.card-project {
    background-color: white;
    height: 50%;
    width: 50%;
    padding: 10px 50px 50px 10px;
    margin-left: 35px;
    border-radius: 24px;
}

